* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #0d1117;
    color: #333;
}

.search-box {
    width: 300px;
    background: #fff;
    margin: 30px auto 0;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s;
}


.row {
    display: flex;
    align-items: center;
    padding: 7px 10px;
}

input {
    flex: 1;
    height: 30px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid {
    height: 25px;
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: #555;
}   

.result-box {
    display: none;
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.search-box:focus .result-box {
    display: block;
}

button {
    display: block;
    background: transparent;
    border: 0;
    outline: 0;
    margin-bottom: 5px; /* Her butonun altında 5px boşluk bırakır */
    cursor: pointer;
}

button:hover {
    background: #e9f3ff;
}
